if SHIELD_J46KXV2_LEFT

config ZMK_KEYBOARD_NAME
    default "J46KxV2"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_J46KXV2_LEFT || SHIELD_J46KXV2_RIGHT

config ZMK_SPLIT 
    default y

endif